$main-green: #2A9C57;
@import '../../variables';

.driver-form {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 450px;
  margin: 0 auto 3rem auto;
  padding: 20px 30px;
  background-color: $grey-bg;
  justify-content: space-around;
  border-radius: 3px;
  height: 65vh;

  div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;

    label {
      color: $accent-slate;
      font-size: 18px;
      margin: 3px;
    }
  
    input {
      background-color: $accent-white;
      height: 2.4rem;
      font-size: 1.2frem;
      margin-bottom: 5px;
      border: none;
      padding: 6px;
      border-radius: 3px;
    }
  }


  button {
    width: 200px;
    height: 50px;
    margin: 20px auto;
    font-size: 14px;
    font-weight: 700;
  }

  .success-msg {
    font-size: medium;
    color: $accent-white;
    font-weight: bold;
  }


}