@import '../../variables';

.title-heading {
  color: $accent-white;
}

.sign-up {
  text-align: center;
  background-color: $main-background;
  display: flex;
  flex-direction: column;

  .form-container {
    margin: auto;
  }

  .home-heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    justify-content: space-between;
    padding: 1vh;


    img {
      width: 220px;
      height: auto;
      margin: auto;
    }

    h1 {
      color: $main-header;
      font-size: 50px;
    }
    h3 {
      color: $form-white-accent;
    }
    p {
      color: $main-header;
    }
  }
}