@import '../../variables';

.landing {
  margin: 3rem;

  &__welcome {
    max-width: 500px;
    margin: auto;

    img {
      width: 50%;
      height: auto;
    }

    h3 {
      color: $main-header;
      font-size: 2.5rem;
    }

    p {
      color: $main-header
    }
  }

  &__options {
    display: flex;
    width: 80%;
    margin: 4rem auto;
    text-align: center;
    justify-content: space-around;
    align-items: center;

    p {
      font-size: 2rem;
    }

    img {
      height: 6rem;
      width: auto;
    }
  }

  .questions {
    color: $main-header;
    margin-top: 8rem;
  }
}

.divider {
  height: 200px;
  width: 5px;
  // background-color: rgb(199, 199, 199);
}

.route-link {
  width: 300px;
  color: black;
}

.route-link:hover {
  outline: none;
  text-decoration: none;
  // color: $link-highlighted;
}