@import '../../variables';

.back-btn {
  width: 6rem;
  height: 3.3rem;
  border: 1px solid white;
  margin: auto;
  border-radius: 7px;
  text-decoration: none;
  padding: 8px;
  transition: .2s;
  background-color: $grey-btn;

  p {
    color: rgb(255, 255, 255);
    margin: auto;
    font-size: 1.4rem;
  }
}

.back-btn:hover, .back-btn:focus {
  border: 1px solid $main-header;
  color: $main-header;
  outline: none;
  transition: .2s;
}