@import "~bootstrap/scss/bootstrap";
@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

.App {
  text-align: center;
  background-color: $main-background;
}

a {
  text-decoration: none; 
  color: black;
}

a:visited {
  color: black;
  text-decoration: none; 
}

a:hover {
  text-decoration: none; 
  color: black;
  color: $link-unvisited;
}

input:focus, textarea:focus, select:focus{
  outline: none;
  color: $link-unvisited;
}
