$main-background: rgb(255, 255, 255);
$main-header: black;
$link-highlighted: #BBA5F7;
$link-unvisited: black;
$accent-slate: rgb(57, 57, 57);
$accent-white: #dcdcdc;
$form-slate-bg: #282c34;
$form-white-accent: black;
$grey-btn: #6C757D;